.hl-circle {
  color: var(--vitality-spark-100);
  text-transform: none;
  font-family: var(--richmond-text);
  font-style: italic;
  position: relative;
  padding: 0 2%;
  z-index: 2;

  &:after {
    display: block;
    content: "";
    position: absolute;
    background-color: var(--forrest-green-100);
    width: 100%;
    height: 96%;
    left: 0;
    top: 2%;
    z-index: -1;
    border-radius: 20rem;
  }

  &.bright {
    &:after {
      background-color: var(--forrest-green-80);
    }
  }
}
