@keyframes logo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}



div#mainLogo {
  svg {

    path {
      fill: var(--white);
    }

    g#Green,
    g#Harbor {
      clip-path: url(#mask);
    }
  }

  &.logo-light {
    svg {
      path {
        fill: var(--eco-sand-80);
      }
    }
  }

  &.logo-dark {
    svg {
      path {
        fill: var(--forrest-green-100);
      }
    }
  }

  &.scroll {
    svg {
      //height: 42px;
      animation: logo;
      animation-duration: .5s;
      animation-timing-function: ease;

      g#mainLogoGreen {
        transform: translateX(-70%);
        opacity: 0;
        transition: transform .8s .2s ease, opacity .8s;
      }

      g#mainLogoHarbor {
        opacity: 0;
        transform: translateX(-90%);
        transition: transform .8s ease, opacity .8s;
      }
    }

    &:hover {
      svg {
        animation: logo;
        animation-duration: .5s;
        animation-timing-function: ease;

        g#mainLogoGreen {
          transform: translateX(0);
          opacity: 1;
          transition: transform .8s .2s ease, opacity .8s;
        }

        g#mainLogoHarbor {
          opacity: 1;
          transform: translateX(0);
          transition: transform .8s ease, opacity .8s;
        }
      }
    }
  }
}